{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>Add new {{ entity }}</h2>
  <div class="row">
    <div class="col-xs-12">
      <form method="post">	
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div>
        <h3>Person tags</h3>
        {% for tag in person_tags %}
          <a href="{% url 'tag_view' tag.pk %}">{{ tag }}</a><br />
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <h3>Script tags</h3>
        {% for tag in script_tags %}
          <a href="{% url 'tag_view' tag.pk %}">{{ tag }}</a><br />
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <h3>Questionnaire tags</h3>
        {% for tag in questionnaire_tags %}
          <a href="{% url 'tag_view' tag.pk %}">{{ tag }}</a><br />
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}